.body-div{

    display:flex;
    flex-direction: column;
    background-color: rgba(66, 132, 245,0.4);
    padding-left: 40%;
    border-radius: 10px;
}

body{

    background-color: rgba(66, 132, 245,0.3);

}

form{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    align-content: center;

}

#add{

    margin-top: 4%;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(99, 245, 66,0.8);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

#remove{
    margin-top: 2%;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(228, 52, 66, 0.808);
    border-radius: 5px;
    border: none;
    padding: 5px;
}

li{

    background-color: azure;
    width:20%;
    padding:5px;
    border: black 2px solid;

}

input[type=text]{

    padding:10px;
    border-radius: 10px;
    border:none;
}

h1{

    color:rgb(216, 96, 40);
    text-shadow: black 2px 2px;
    text-decoration: underline;

}